*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: hsl(0, 0%, 95%);
    padding: 8px;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 5px rgb(168, 168, 168);
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .icon {
    padding: 10px;
  }
  
  .icon h1 {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(31, 77%, 52%);
    font-family: "Big Shoulders Display", cursive;
  }
  
  .nav-list {
    display: flex;
    padding: 8px;
    margin-right: 3rem;
  }  
  .list-item {
    padding: 8px 2rem;
    margin: 0 16px;
    list-style: none;
    background-color: hsl(179, 100%, 13%);
    border-radius: 5px;
  }
  .list-item:hover {
    background-color: hsl(179, 100%, 20%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  
  .nav-link {
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-family: "Lexend Deca", sans-serif;
  }

  
div#Container{
   display: flex;
    padding: 20px;
}
div.sedan{
    background-color: hsl(30, 77%, 52%);
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(186, 95%, 8%);
}
.sedan, .suvs, .luxury{
    padding: 40px 50px;
    margin: 0 auto;
}
h2{    
    font-family: Big Shoulders Display;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding: 50px 0;
}
p{    
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2.0rem;    
}
p, button{
    font-family: Lexend Deca;    
    font-size: 15px;  
    font-weight: 400;  
}
button{   
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    margin: 100px 0 30px;
}
.sedan a{
    color: hsl(31, 77%, 52%);
}
.suvs a{
    color: hsl(184, 100%, 22%);
}
.luxury a{
    color: hsl(179, 100%, 13%);
    
}
img{
    padding-rights: 30px;  
    margin: 10px;  
}


a{
    text-decoration: none;
}
@media(max-width:365px){
    *{
        margin: 0;
    }
    div#Container{
        display: block;
        padding: 10px;
    }
    .sedan, .suvs, .luxury{
        padding: 40px;
        margin: 0 auto;
    }
    
}